:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --dark-color: #212121;
  --blue-color: #2196f3;
  --background-dark-color: #2f303a;
  --grey-color: #757575;
  --light-grey: #f5f4fa;
  --dark-semi-transparent: rgba(255, 255, 255, 0.6);
  --white-border-color: #ececec;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: var(--grey-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 1.4em;
  transition: 0.3s;
}

h2 {
  font-weight: 700;
  font-size: 3.6em;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin: 0px;
}

.section {
  padding: 94px 0;
}

/* ----------- header start -------------- */

header {
  border-bottom: 1px solid var(--white-border-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.header-wrapped {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 15px 13px;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 2.6em;
  margin-right: 93px;
  letter-spacing: 0.03em;
}

.logo_web {
  color: var(--blue-color);
}

.menu_list-elem {
  padding-top: 8px;
}

.menu_a {
  margin-top: 5px;
  font-size: 1.4em;
  padding-left: 0px;
  line-height: 1.14;
  margin-right: 50px;
  letter-spacing: 0.02em;
}

.menu_a:hover {
  color: var(--blue-color);
}

.header-contacts_a {
  color: var(--grey-color);
  letter-spacing: 0.02em;
}

.header-contacts_a:first-child {
  margin-right: 47px;
}

.header-contacts_a:hover {
  color: var(--blue-color);
}

/* ----------- header end -------------- */

/*----------- order-section start-----------*/
.order-section {
  background-color: var(--background-dark-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

h1 {
  margin-top: 0px;
  width: 696px;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 4.4em;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 1.36;
  font-weight: 900;
}

.order-btn {
  margin-top: 30px;
  background-color: var(--blue-color);
  padding: 10px 31px;
  border: 0px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.6em;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: 0.3s;
}

.order-btn:hover {
  background-color: var(--light-grey);
  color: var(--dark-color);
}
/* -----------order-section end-----------*/

/* -----------advantages-section start-----------*/
.advantages {
  padding-top: 61px;
  padding-bottom: 30px;
}

.advantages-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
}

.advantages-list h5 {
  font-size: 1.4em;
  width: 270px;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding-bottom: 10px;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.advantages-list p {
  margin-top: 0px;
  width: 270px;
  font-size: 1.4em;
  color: var(--grey-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-weight: 400;
}
/* -----------advantages-section end-----------*/

/* -----------our-practice start-----------*/
.our-practice {
  padding-top: 43px;
  padding-bottom: 80px;
}

.practice-list {
  margin-top: 50px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

/* -----------our-practice end-----------*/

/* -----------our-team start-----------*/
.our-team {
  background-color: var(--light-grey);
  padding-top: 95px;
  padding-bottom: 83px;
}

.our-team-title {
  margin: 0px;
}

.employee-list {
  list-style: none;
  padding: 0px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.employee-card-figure {
  margin: 0px;
  text-align: center;
  background-color: var(--white-color);
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee-card-figure h6 {
  font-weight: 500;
  font-size: 1.6em;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--dark-color);
}

.employee-card-figure span {
  color: var(--grey-color);
  font-size: 1.6em;
  letter-spacing: 0.03em;
  font-weight: 400;
}

/* -----------our-team end-----------*/

/* -----------footer start-----------*/
footer {
  background-color: var(--background-dark-color);
  /* height: 252px; */
  padding-top: 65px;
}

footer .logo {
  color: var(--light-grey);
}

address {
  padding-top: 20px;
  color: var(--white-color);
  font-style: normal;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-bottom: 60px;
}

address span {
  letter-spacing: 0.03em;
}

a.footer__a {
  color: var(--dark-semi-transparent);
  font-style: normal;
  font-size: 14px;
  display: block;
  font-weight: 400;
  padding-top: 15px;
  transition: 0.3s;
}
a.footer__a:hover {
  color: var(--blue-color);
}

/* -----------footer end-----------*/

/* -----------portfolio start-----------*/
.portfolio {
  background-color: var(--white-color);
}

.portfolio-wrapped {
}

.portfolio-filter-wrapper {
  max-width: 612px;
  margin: 0 auto;
}

.portfolio-filter {
  margin: 0 auto;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.portfolio-filter__btn {
  background-color: var(--light-grey);
  padding: 6px 22px;
  border: 0px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  color: var(--dark-color);
  cursor: pointer;
  font-size: 1.6em;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
}

.portfolio-filter__btn:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.portfolio-list {
  list-style: none;
  padding: 0;

  margin: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}

.portfolio-list-card {
  margin: 0px;
  padding-bottom: 17px;
  margin-bottom: 13px;
}

.portfolio-list-card__last-row {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.portfolio-list-card img {
  display: block;
}

.portfolio-list-card figcaption {
  border-bottom: 1px solid var(--light-grey);
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  padding-bottom: 18px;
}

.portfolio-list-card__caption {
  margin: 0px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 25px;
  padding-bottom: 5px;
  color: var(--dark-color);
}

.portfolio-list-card__descr {
  padding-top: 15px;
  margin: 0px;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.87;
  color: var(--grey-color);
  padding-left: 25px;
  letter-spacing: 0.03em;
}
/* -----------portfolio end-----------*/
